extends layouts/default

block content
  .container
    .row.row--alignCenter.home
      .col
        .row
          .col
            h1 Paulo Chaves
        .row
          .col
            h2 Front Test 2017
        .row.row--center
          .col--1of3
            a(href='/login.html') Login
          .col--1of3
            a(href='/profile.html') Profile
