extends layouts/default

block content
  .background-img
  .row.row--center
    .sm-col.login.login--round.login--shadow
      h1.login__title Login
      form
        .login__input.login__input--first
          .input-group
            input(type='text', id='email', name='email', required)
            label Email
        .login__input
          .input-group
            input(type='password', required, id='password', name='password')
            label Password
        .login__terms
          p
            | By signing up or clicking continue, I confirm that I have read and agree
            | to the
            a.login__a(href='#') &nbsp;Terms
            |  and
            a.login__a(href='#') &nbsp;Privacy Policy
        .login__btn
          button.btn.btn--blue.btn--block.btn--large LOGIN
