extends layouts/default

block content
  include includes/header
  .container.profile.tabs__area#about_tab
    .row.row--between.profile__title
      .col.col--1of4
        h3 About
      .col.col--1of4.profile__edit
        button.btn.profile__edit__btn
          i.ion-edit
      .col.col--1of2.profile__btns.profile--hidden
        button.btn.btn--white.profile__btns__cancel Cancel
        button.btn.btn--white.profile__btns__save Save

    .row
      .col.profile__label.profile__label__name
        div
          span.text__name Jessica Parker
          button.btn.profile__btn(data-field='name')
            i.ion-edit
      .col.profile__field.profile--hidden
        .input-group
          input(type='text', required, value='Jessica', id='firstname', name='firstname')
          label(for='name', id='lbl_name') First Name

        .input-group
          input(type='text', required, value='Parker', id='lastname', name='lastname')
          label Last Name

    .row
      .col.profile__label.profile__label__website
        div
          i.ion-earth
          span.text__website www.seller.com
          button.btn.profile__btn(data-field='website')
            i.ion-edit
      .col.profile__field.profile--hidden
        .input-group
          input(type='text', required, value='www.seller.com', id='website', name='website')
          label(for='website', id='lbl_website') Website

    .row
      .col.profile__label.profile__label__phone
        div
          i.ion-ios-telephone-outline
          span.text__phone (949) 325-68954
          button.btn.profile__btn(data-field='phone')
            i.ion-edit
      .col.profile__field.profile--hidden
        .input-group
          input(type='text', required, value='(949) 325-68594', id='phone', name='phone')
          label(for='phone', id='lbl_phone') Phone Number

    .row
      .col.profile__label.profile__label__address
        div
          i.ion-ios-home-outline
          span.text__address Newport Beach, CA
          button.btn.profile__btn(data-field='address')
            i.ion-edit
      .col.profile__field.profile--hidden
        .input-group
          input(type='text', required, value='Newport Beach, CA', id='address', name='address')
          label(for='address', id='lbl_address') City, State & ZIP

  .container.settings.tabs__area#settings_tab
    .row.row--between.profile__title
      .col.col--1of4
        h3 Settings
