.container.header
  .row.row--end
    .col--1of4.sm-col--1of4.header__logout
      button.btn.btn--white LOG OUT
  .row.row--center
    .col--1of4.header__upload-cover
      button.btn.btn--white.btn--large
        i.ion-camera
        span Upload Cover Image
  .row.header__avatar
    img(class='header__img' src='/assets/img/profile_image.jpg')
  .row.header__info
    .col
      .row
        .col.sm-col--2of3.address
          .row
            .col.address__item.address__item--first
              span.text__name Jessica Parker
            .col.address__item.address__item--second
              i.ion-ios-location-outline
              span.text__address Newport Beach, CA
            .col.address__item
              i.ion-ios-telephone-outline
              span.text__phone (949) 325-68594
        .col.sm-col--1of3
          .row.row--end.reviews
              .col.sm-col.reviews__item.reviews__item--first
                i.ion-android-star
                i.ion-android-star
                i.ion-android-star
                i.ion-android-star
                i.ion-android-star-outline
              .col.sm-col.col--center.reviews__item
                span.reviews__number 6
                span reviews
      .row.sm-row--end.header__tabs__row
        .col.header__tabs
          .header__tabs__inner
            .tabs
              ul
                li.tabs__item.tabs__item--active
                  a(data-tab='#about_tab') about
                li.tabs__item
                  a(data-tab='#settings_tab') settings
                li.tabs__item
                  a option 1
                li.tabs__item
                  a option 2
                li.tabs__item
                  a option 3
        .col.sm-col--1of4.header__followers
          .row.sm-row--end
            i.header__followers__item.ion-ios-plus
            span.header__followers__item 15
            span.header__followers__item Followers

