.btn
  text-align: center
  display: inline-block
  border: 1px solid transparent
  font-weight: 900
  padding: 6px 15px
  font-size: 12px
  white-space: nowrap
  vertical-align: middle
  cursor: pointer
  border-radius: 3px

  +modifier('blue')
    background-color: $blue
    color: $white

  +modifier('white')
    background-color: $white
    color: $blue
    border: 1px solid $blue

  +modifier('block')
    display: block
    width: 100%

  +modifier('large')
    padding: 12px

