// Learn more at https://codepen.io/sevilayha/pen/IdGKH/

.input-group
  position: relative
  margin-bottom: 25px

  input
    color: #666
    padding: 10px 10px 5px 0px
    display: block
    width: 100%
    border: none
    border-bottom: 1px solid $light-gray

  input:focus
    outline: none

  label
    color: #999
    font-size: 14px
    font-weight: normal
    position: absolute
    pointer-events: none
    top: 10px
    transition: 0.2s ease all

  // move title above the field
  input:focus ~ label, input:valid ~ label
    top: -8px
    font-size: 10px
    text-transform: uppercase

  // make title and line blue on focus
  input:focus
    border-bottom: 1px solid $blue
    &~label
      color: $blue
