.flex
  display: flex

.flex-column
  @extend .flex
  flex-direction: column
  &-center
    @extend .flex
    flex-direction: column
    align-items: center

.flex-row
  @extend .flex
  flex-direction: row
  &-center
    @extend .flex
    flex-direction: row
    justify-content: center
