.tabs
  font-size: 13px

  ul
    list-style-type: none
    // padding-left: 20px
    white-space: nowrap
    padding: 3px 0

  +element('area')
    display: none

  +element('item')
    display: inline-block
    margin-right: 20px

    > a
      padding: 10px 0
      color: inherit
      text-transform: uppercase
      cursor: pointer
      &:hover
        border-bottom: 3px solid $blue

    +modifier('active')
      > a
        border-bottom: 3px solid $blue
