$sm-width: 48rem;
$md-width: 64rem;
$lg-width: 78rem;

$blue: #4980ed
$gray: #E6E6E6
$light-gray: #D8D8D8
$medium-gray: #898989
$dark-gray: #616161
$black-gray: #4c4c4f
$primary: rgb(33,150,243)
$secondary: rgb(200,230,201)
$materialBlue: #00bcd4
$background: #F3F8F9
$white: #ffffff
$navbar: $materialBlue
$navbarText: $white
$subNavbar: $materialBlue
$editorBackground: $black-gray
$success: #c8e6c9
$error: #ffa3a3
$accentColor: #03A9F4
$Tab: #333333
$linkBlue: #427fed
$pencil-background: #e3e8ea
