html
  box-sizing: border-box

html,
body
  margin: 0
  padding: 0
  height: 100%
  background-color: $background
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size: 15px
  color: $black-gray

a
  color: $blue
  text-decoration: none !important
  &:visited
    text-decoration: none
    color: $blue

*,
*:before,
*:after
  box-sizing: inherit

.container
  max-width: $lg-width
  margin: 0 auto

.home
  > div
    text-align: center
    padding: 0 20px

    a
      font-size: 20px

  +sm-screen
    min-height: 500px
