.address
  padding-left: 15px

  i
    margin-right: 10px

  +element('item')
    font-size: 14px
    padding: 5px 0
    flex-grow: 1

    +modifier('first')
      text-align: center
      font-size: 20px
      font-weight: 600
      margin-left: -15px
      letter-spacing: 2px
      margin-top: 15px

    +modifier('second')
      order: 1

    i
      font-size: 18px

  +sm-screen
    padding-left: 0
    +element('item')
      padding: 10px 0 0 195px
      font-size: 13px
      +modifier('first')
        text-align: left
        font-size: 16px
        margin-top: 20px
        margin-left: 0
        letter-spacing: 1px
      +modifier('second')
        order: 0

///////////////////////////////////////////////////////////////
.reviews
  padding-left: 15px

  i
    padding-right: 3px
    color: $blue
    font-size: 24px

  +element('item')
    padding: 3px 0

  span
    padding-right: 10px
    color: $medium-gray
  +element('number')
    padding-top: 5px
    padding-left: 3px

  +sm-screen
    i
      color: $medium-gray
      font-size: 18px

    +element('item')
      +modifier('first')
        margin-right: 20px

    span
      font-size: 12px

////////////////////////////////////////////////////////////////
.header__followers
  color: $medium-gray
  padding-left: 15px
  padding-bottom: 8px
  margin-top: 14px
  margin-right: 10px
  z-index: 10
  position: relative

  +element('item')
    align-self: center
    padding-right: 10px
    font-size: 14px
  i
    font-size: 28px

  +sm-screen
    top: -48px
    +element('item')
      font-size: 12px
      padding: 3px
    i
      font-size: 18px
      padding-right: 10px


.header__tabs
  order: 1
  background-color: $white
  box-shadow: 0px 0px 10px 0 $light-gray
  margin-top: 15px
  // enable tabs swapping
  width: 100vw
  height: 45px
  overflow: hidden
  position: relative
  // top: 47px

  +element('inner')
    width: 100vw
    overflow-y: hidden
    overflow-x: auto
    height: 60px

    .tabs__item:first-child
      padding-left: 15px

  +sm-screen
    order: 0
    // bottom: 0
    width: 100%
    border-top: 1px solid #f7f7f7
    box-shadow: 0 8px 6px -9px #999
    padding-left: 10px

    +element('row')
      height: 50px

    +element('inner')
      width: 100%
      height: 45px
      .tabs__item:first-child
        padding-left: 0

    .tabs
      padding-left: 185px

.header
  background-color: $background

  +element('upload-cover')
    display: none

  +element('img')
    width: 140px
    height: 140px
    box-shadow: 0px 0px 4px -1px #999

  +element('avatar')
    justify-content: center

  +element('logout')
    padding: 15px 25px 20px 0
    text-align: right
    > button
      border: 0
      background-color: $background

  +sm-screen
    background-color: $white
    position: relative
    box-shadow: 0px 0px 2px -1px #999
    top: 50px

    +element('img')
      width: 150px
      height: 150px
      z-index: 10
      margin-left: 5px

    +element('logout')
      display: flex
      justify-content: flex-end
      padding-bottom: 20px
      margin-right: -10px
      > button
        border: 1px solid $blue
        background-color: $white

    +element('upload-cover')
      display: flex
      justify-content: center
      // padding-bottom: 48px

      > button
        font-weight: normal
        color: $medium-gray
        border-color: $light-gray
        padding: 8px

        > i
          padding-right: 10px
          font-size: 18px

    +element('avatar')
      width: 180px
      position: absolute
      bottom: 5px



