.background-img
  +sm-screen
    background-image: url(../img/fullscreen_bg_image.jpg)
    position: fixed
    width: 100%
    height: 100%
    background-size: cover

.login
  background-color: #fff
  padding: 20px 45px
  position: fixed
  height: 100vh

  +element('input')
    padding-bottom: 20px
    +modifier('first')
      margin-top: 50px

  +element('title')
    text-align: center
    font-weight: 500

  +element('btn')
    width: 100%
    position: fixed
    bottom: 0
    left: 0

  +element('terms')
    color: $medium-gray
    padding-bottom: 20px
    text-align: left

  +element('a')
    &:visited
      color: $blue

  +sm-screen
    position: relative
    margin-top: 20vh
    width: 475px
    height: 450px

    +modifier('round')
      border-radius: 5px

    +modifier('shadow')
      box-shadow: 0 0 10px 1px $light-gray

    +element('terms')
      text-align: center

    +element('title')
      padding-bottom: 20px
      border-bottom: 1px solid $light-gray

    +element('btn')
      position: relative

