.profile, .settings
  margin-top: 15px
  background-color: $white
  border-top: 1px solid #ddd
  border-bottom: 1px solid #ddd
  padding: 0 12px 40px 15px
  margin-bottom: 30px
  min-height: 500px
  +sm-screen
    border: none
    box-shadow: 0px 0px 2px -1px #999;
    position: relative
    top: 70px

.profile
  +modifier('hidden')
    display: none!important

  +element('title')
    margin-bottom: 10px
    .col
      align-self: center
    h3
      font-weight: 500
      color: $medium-gray

  +element('edit')
    text-align: right

    +element('btn')
      border: none
      border-radius: 0
      background-color: $pencil-background
      color: $medium-gray
      font-size: 16px
      padding: 3px 8px

  +element('btns')
    display: flex
    justify-content: flex-end

    button
      border: 0
      text-transform: uppercase
      font-weight: normal

  +element('label')
    i
      margin-right: 10px
      color: $medium-gray
      font-size: 21px

    span
      display: inline-block
      margin: 0
      padding: 7px 0

    +element('name')
      span
        font-weight: 900

    .btn
      display: none

  +element('popup')
    display: none

    .arrow--left
      position: absolute
      z-index: 10
      width: 0px
      height: 0px
      left: -10px
      border-top: 10px solid transparent
      border-bottom: 10px solid transparent
      border-right: 10px solid $white

  +sm-screen
    +element('edit')
      +element('btn')
        display: none

    +element('label')
      font-size: 13px

      > div
        padding: 0 5px
        display: table
        background-color: #f5f5f5
        margin-top: 2px
        position: relative

      .btn
        display: inline-block
        position: absolute
        background-color: $pencil-background
        padding: 0
        height: 100%
        border-radius: 0
        > i
          margin: 7px
          font-size: 13px
      .btn:hover
        background-color: $blue
        > i
          color: $white

      span
        padding-right: 20px

    +element('popup')
      display: block
      min-width: 250px
      height: 100px
      background-color: $white
      box-shadow: 0 0 10px 1px #ccc;
      padding: 20px 10px

      > .input-group
        margin-bottom: 10px

      .btn
        width: 75px
        margin-right: 15px
        text-transform: uppercase
        font-size: 10px
